
.margin {
  margin-bottom: 45px;
}

/* maga menu */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 5px;
}
.navbar-brand {
  height: inherit;
  max-height: 60px;
}

/* logo */
.navbar-brand .title {
  font-size: 1.2em;
  line-height: 1.5em;
}
.navbar-brand .subtitle {
  font-size: 0.6em;
  line-height: 0.9em;
}

/* menu */
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.navbar-nav .title {
  font-size: 1.4em;
  line-height: 1.7em;
}
.navbar-nav .subtitle {
  font-size: 1em;
  line-height: 1.3em;
}

/* body */
body {
  padding-top: 7em;
  font: 1.2em Montserrat, sans-serif;
  line-height: 2em;
  color: #f5f6f7;
}
p {
  font-size: 1.4em;
}
.bg-light-gray { 
  background-color: #474e5d;
  color: #ffffff;
}
.bg-white { 
  background-color: #ffffff; 
  color: #555555;
}
.bg-gray { 
  background-color: #2f2f2f; 
  color: #fff;
}
.bg-4 { 
  background-color: #ffffff; 
  color: #555555;
}
.bg li {
  font-size: 1.4em;
}

.container-fluid {
  padding-top: 8em;
  padding-bottom: 8em;
}

/* contact */
.mobile-show {
  display: none;
}
.pc-show {
  display: block;
}

/* thumbnail image */
.thumbnail .border {
  border: lightgray 1px solid;
  width:100%;
}

/* footer */
footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
footer p {
  margin: 0em;
}
.container-footer {
  padding-top: 3em;
  padding-bottom: 3em;
}
.footer-body {
  padding-top: 0em;
  display: inline-block;
}
.footer-contact {
  display: inline-table;
  font-size: 1.4em;
  letter-spacing: 0.5em;
  line-height: 2em;
}
.contact-button {
  text-align: center;
  width: 5em;
  padding: 0.5em 0em 0.5em 0.5em;
  border-radius: 5px;
}
.contact-button:hover {
  text-decoration: none;
}
.bg-light-gray .contact-button {
  border: white 1px solid;
  color: white;
}
.bg-light-gray .contact-button:hover {
  color: white;
}
.bg-white .contact-button {
  border: #555555 1px solid;
  color: #555555;
}
.bg-white .contact-button:hover {
  color: #555555;
}
.contact-text {
  padding-left: 0.5em;
}

/* mobile */
@media only screen and (max-width: 1200px) {
  /* body */
  body {
    padding-top: 13em;
  }
}

@media only screen and (max-width: 1028px) {
  /* footer */
  .contact-text {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 905px) {
  /* footer */
  .contact-text {
    font-size: 1em;
  }
}

@media only screen and (max-width: 783px) {
  /* footer */
  .contact-text {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 768px) {
  /* body */
  body {
    padding-top: 8em;
  }
}

@media only screen and (max-width: 767.5px) {
  /* body */
  body {
    padding-top: 5em;
  }
  p {
    font-size: 1.2em;
  }

  /* logo */
  .navbar-brand .title {
    font-size: 0.8em;
    line-height: 1em;
  }
  .navbar-brand .subtitle {
    font-size: 0.4em;
    line-height: 0.6em;
  }

  /* menu */
  .navbar-nav .title {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .navbar-nav .subtitle {
    font-size: 0.8em;
    line-height: 1em;
  }

  /* contact */
  .mobile-show {
    display: block;
  }
  .pc-show {
    display: none;
  }

  /* footer */
  .container-footer {
    padding-left: 1em;
  }
  .footer-body {
    padding-top: 1em;
  }
  .contact-text {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 344px) {
  /* mega menu */
  .navbar-brand {
    padding: 15px 10px;
  }
}

@media only screen and (max-width: 334px) {
  /* mega menu */
  .navbar-brand {
    padding: 15px 5px;
  }
}

@media only screen and (max-width: 324px) {
  /* logo */
  .navbar-brand .subtitle {
    display: none;
  }
}

@media only screen and (max-width: 244px) {
  /* logo */
  .navbar-brand .title {
    font-size: 0.6em;
    line-height: 0.8em;
  }

  /* toggle  */
  .navbar-toggle {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 214px) {
  /* toggle  */
  .navbar-toggle {
    margin-right: 5px;
  }
}

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  color: #666;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 2px gray;
}
#topButton:hover {
  background-color: #ddd;
}

.border-right-white {
  border-right: 1px solid #eee;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.bk-white {
  background-color: white;
}
